<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>française
                            </p>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499" id="button-500" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Accueil - Inscription en BTS au lycee fulbert">
                            <p class="fr-header__service-title">
                                Inscription BTS fulbert
                            </p>
                        </a>
                        <p class="fr-header__service-tagline">Inscriptions - Inscription en BTS au lycée Fulbert</p>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            <li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="fr-btn" href="/admin/dashboard">
                                        Administration
                                    </a>
                                {% endif %}
                            </li>
                            <li>
                                {% if is_granted('IS_AUTHENTICATED') %}
                                    <a class="fr-btn fr-icon-lock-line" href="{{ path('app_logout') }}">
                                        Se déconnecter
                                    </a>
                                {% else %}
                                    <a class="fr-btn fr-icon-lock-line" href="{{ path('app_login') }}">
                                        Se connecter
                                    </a>
                                {% endif %}
                            </li>
                            <li>
                                {% if is_granted('IS_AUTHENTICATED') %}
                                {% else %}
                                <a class="fr-btn fr-icon-account-line" href="/register">
                                    S’enregistrer
                                </a>
                                {% endif %}
                            </li>
                            <li>
                                <button class="fr-btn fr-footer__bottom-link fr-icon-theme-fill fr-btn--icon-left" aria-controls="fr-theme-modal" data-fr-opened="false">Paramètres d'affichage</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer">
                Fermer
            </button>
            <div class="fr-header__menu-links">
            </div>
            <nav class="fr-nav" id="navigation-499" role="navigation" aria-label="Menu principal">
                <ul class="fr-nav__list">
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="{{path('index')}}" target="_self">Acceuil</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED') %}
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="{{ path('app_inscription_dashboard') }}" target="_self">
                                Tableau de bord de {{ app.user.email }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>