{% extends 'base.html.twig' %}

{% block title %}Adhésion à la MDL
{% endblock %}

{% block body %}

{% for flash_error in app.flashes('verify_email_error') %}
	<div class="fr-alert fr-alert--error" role="alert">{{ flash_error }}</div>
{% endfor %}

<main role="main" id="content">
	<div class="fr-container fr-container--fluid fr-mb-md-14v">
		<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
			<div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
				<div class="fr-container fr-background-alt--grey fr-px-md-0 fr-pt-10v fr-pt-md-14v fr-pb-6v fr-pb-md-10v">
					<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
						<div class="fr-col-12 fr-col-md-10 fr-col-lg-9">
							<h1 class="fr-h1">Adhésion à la MDL</h1>
							<p>
								<strong>La MDL de Fulbert</strong>
							</p>
							<p>La Maison Des Lycéens (MDL) du lycée Fulbert à Chartres est un espace dynamique et collaboratif géré par et pour les élèves.</p>
							<p>Elle a pour but de favoriser le développement culturel et associatif au sein de l'établissement.</p>
							<ul>
								<li>Objectifs : Responsabiliser les élèves, promouvoir la diversité culturelle et créer des espaces d'expression.</li>
								<li>Activités : Organisation d'événements culturels, sportifs et humanitaires.</li>
								<li>Engagement des élèves et soutien de l'administration.</li>
							</ul>
							<p>En résumé, la MDL offre des opportunités d'engagement et de développement personnel.
								<strong>Et ça ne vous coûte que 10€ à l'année.</strong>
							</p>

							{{ form_start(form, {'attr': {'class': 'fr-form'}}) }}
							<fieldset class="fr-fieldset fr-mb-6v">
								<legend class="fr-fieldset__legend fr-text--regular">
									<h2>Voulez-vous adhérer à la MDL ?</h2>
								</legend>
								{{ form_row(form.accepted, {
                                        'row_attr': {'class': 'fr-fieldset__element'},
                                        'label_attr': {'class': 'fr-label'}
                                    }) }}
							</fieldset>

							<fieldset class="fr-fieldset fr-mb-6v">
								<legend class="fr-fieldset__legend fr-text--regular">
									Mode de paiement
								</legend>
								<p>10€ à l'ordre de la MDL, paiement de préférence par chèque.</p>
								{{ form_row(form.paymentMethod, {
                                        'row_attr': {'class': 'fr-fieldset__element'},
                                        'label_attr': {'class': 'fr-label'}
                                    }) }}
							</fieldset>

							<fieldset class="fr-fieldset fr-mb-6v">
								<legend class="fr-fieldset__legend fr-text--regular">
									Autorisation droit à l'image
								</legend>
								{{ form_row(form.imageRights, {
                                        'row_attr': {'class': 'fr-fieldset__element'},
                                        'label_attr': {'class': 'fr-label'}
                                    }) }}
							</fieldset>

							<div class="fr-form-group">
								<button type="submit" class="fr-btn">Valider</button>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>


{% endblock %}
